#parallax-1-index { 
  height: 100%; 
  transform: scale(1);
  overflow: hidden;
  cursor: default;
}

#parallax-1-index-text {
  color: #f9f9f9;
  background-color: rgba(0,0,0, 0.75);
  font-size: 5vw;
  font-family: Raleway, serif;
  font-weight: 500;
  border: 0vw solid #f9f9f9;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  padding: 1.25vw;
  text-align: center;
  z-index: 1;
}

#parallax-1-index-body-text {
  margin-top: .5vw;
  font-size: 2.5vw;
  font-family: Raleway, serif;
  font-weight: 500;
}

#parallax-1-index-background-image {
  background-image: url("https://farm8.staticflickr.com/4870/45614918675_22f7437084_b.jpg");
  filter: blur(.2vw);
  background-color: #000;
  height: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.03);
}
