#parallax-1-photos { 
  height: 100%; 
  transform: scale(1);
  overflow: hidden;
  cursor: default;
}

#parallax-1-photos-text {
  color: #f9f9f9;
  background-color: rgba(0,0,0, 0.75);
  font-size: 5vw;
  font-family: Raleway, serif;
  font-weight: 500;
  border: 0vw solid #f9f9f9;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  padding: 1.25vw;
  text-align: center;
  z-index: 1;
}

#parallax-1-photos-body-text {
  margin-top: .5vw;
  font-size: 2.5vw;
  font-family: Raleway, serif;
  font-weight: 500;
}

#parallax-1-photos-background-image {
  background-image: url("https://farm8.staticflickr.com/4864/32655143338_131e576d23_b.jpg");
  filter: blur(.2vw);
  background-color: #000;
  height: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.03);
}

#index-button{
  transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
  position: relative;
  height: 3vw;
  width: 12.5vw;
  font-weight: 500;
  font-size: 1.25vw;
  letter-spacing: .1vw;
  color: #000;
  border: .1vw #000 solid;
  border-radius: .5vw;
  text-transform: uppercase;
  overflow:hidden;
  background: none;
  z-index: 0;
  cursor: pointer;
}

#index-button:before{
  opacity:0;
  transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

#index-button:after {
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  top: 100%;
  z-index: -1;
  transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}

#index-button:hover{
  color:#f9f9f9;
  border: 0vw #000 solid;
}

#index-button:hover:after {
  top: 0;
}
