@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,500,600');

/*Website revamp started 1/10/19*/

/*Random CSS---------------------------------------------------------------------------->*/
::-webkit-scrollbar {
  display: none;
}

/*Page CSS---------------------------------------------------------------------------->*/
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  user-select: none;
  transition: background-color .5s;
  background-color: #f9f9f9;
}

button:focus {
  outline:0;
}

/*Header CSS---------------------------------------------------------------------------->*/
#header {
  padding-top: .5vw;
  background-color: #000;
  white-space: nowrap;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 5.25vw;
  overflow: hidden;
}

#scroll-indicator-container {
  padding-top: .7vw;
  width: 100%;
  height: .3vw;
}

.scroll-indicator {
  position: absolute;
  height: .3vw;
  background-image: linear-gradient(to right, #55BCE2, #54C7A0);
  width: 0%;
  border-radius: 0 .25vw 0 0;
  top: 5.5vw;
  left: 0;
}

#link-with-hover-1::after {
  content: '';
  content: '';
  display: inline-block;
  width: 0;
  height: 1vw;
  background: #f9f9f9;
  transition: .25s;
  transform: translateX(-4.95vw);
  position: absolute;
  top: 3.5vw;
  border-radius: .25vw .25vw 0 0;
  z-index: 1;
}

#link-with-hover-1:hover::after {
  width: 5.5vw;
  transition: .5s;
}

#link-with-hover-2::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 1vw;
  background: #f9f9f9;
  transition: .25s;
  transform: translateX(-5vw);
  position: absolute;
  top: 3.5vw;
  border-radius: .25vw .25vw 0 0;
  z-index: 1;
}

#link-with-hover-2:hover::after {
  width: 5.5vw;
  transition: .5s;
}

#link-with-hover-3::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 1vw;
  background: #f9f9f9;
  transition: .25s;
  transform: translateX(-8.15vw);
  position: absolute;
  top: 3.5vw;
  border-radius: .25vw .25vw 0 0;
  z-index: 1;
}

#link-with-hover-3:hover::after {
  width: 8.75vw;
  transition: .5s;
}

#link-with-hover-4::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 1vw;
  background: #f9f9f9;
  transition: .25s;
  transform: translateX(-3.9vw);
  position: absolute;
  top: 3.5vw;
  border-radius: .25vw .25vw 0 0;
  z-index: 1;
}

#link-with-hover-4:hover::after {
  width: 4.4vw;
  transition: .5s;
}

#link-with-hover-5::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 1vw;
  background: #f9f9f9;
  transition: .25s;
  transform: translateX(-6.25vw);
  position: absolute;
  top: 3.5vw;
  border-radius: .25vw .25vw 0 0;
  z-index: 1;
}

#link-with-hover-5:hover::after {
  width: 6.75vw;
  transition: .5s;
}

#header-dropdown {
  display: inline-block;
  cursor: pointer;
  margin-right: 26.675vw;
}

#header-dropdown .header-dropbtn {
  border: none;
  outline: none;
  color: #f9f9f9;
  background-color: inherit;
  font-family: Raleway, serif;
}

#header-dropdown-content {
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  min-width: 13.5vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: fixed;
  transition: opacity 600ms, visibility 600ms;
  top: 5.75vw;
  border: .35vw solid #f9f9f9;
  border-top: none;
  border-right: none;
  border-radius: 0 0 .25vw .25vw;
}

#header-dropdown-content a {
  float: none;
  padding: 1vw 1vw;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Raleway, serif;
  font-size: 1.6vw;
  color: #f9f9f9;
  transition: all .5s ease;
}

#header-dropdown-content a:hover {
  background-color: #141414;
  transition: all .5s ease;
}

#header-dropdown:hover #header-dropdown-content {
  visibility: visible;
  opacity: 1;
}

#header-dropdown:hover #link-with-hover-3::after {
  width: 8.75vw;
}

.header-dropbtn:hover {
  height: 10vw;
}

#down-arrow {
  padding-bottom: .35vw;
  width: 0;
  height: 0;
  border-left: .35vw solid transparent;
  border-right: .35vw solid transparent;
  border-top: .35vw solid #f9f9f9;
  display: inline-block;
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: all 0.5s ease;
  padding-top: 6vw;
  font-family: "Raleway", serif;
  font-weight: 400;
  border-right: .25vw solid;
  border-image: linear-gradient(to bottom, #55BCE2, #54C7A0);
  border-image-slice: 1;
  transform: translateX(-.25vw);
}

#sidenav a {
  padding: .25vw 0vw 2vw 2vw;
  text-decoration: none;
  font-size: 2vw;
  color: #f9f9f9;
  display: block;
  transition: all 0.2s ease;
}

#sidenav-close-btn:hover {
  transition: 0.5s ease;
  color: #9d9d9d;
}

#sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2vw;
  font-size: 4vw;
}

#sidenav-link-with-hover-1::after {
  content: '';
  display: inline-block;
  width: .6vw;
  height: 0;
  background: #f9f9f9;
  transition: .25s;
  position: fixed;
  left: 0;
  position: absolute;
  border-radius: 0 .25vw .25vw 0;
  z-index: 1;
  transform: translateY(-.2vw)
}

#sidenav-link-with-hover-1:hover::after {
  height: 2.75vw;
  transition: .5s;
}

#sidenav-link-with-hover-2::after {
  content: '';
  display: inline-block;
  width: .6vw;
  height: 0;
  background: #f9f9f9;
  transition: .25s;
  position: fixed;
  left: 0;
  position: absolute;
  border-radius: 0 .25vw .25vw 0;
  z-index: 1;
  transform: translateY(-.2vw)
}

#sidenav-link-with-hover-2:hover::after {
  height: 2.75vw;
  transition: .5s;
}

#sidenav-link-with-hover-3::after {
  content: '';
  display: inline-block;
  width: .6vw;
  height: 0;
  background: #f9f9f9;
  transition: .25s;
  position: fixed;
  left: 0;
  position: absolute;
  border-radius: 0 .25vw .25vw 0;
  z-index: 1;
  transform: translateY(-.2vw)
}

#sidenav-link-with-hover-3:hover::after {
  height: 2.75vw;
  transition: .5s;
}

#sidenav-link-with-hover-4::after {
  content: '';
  display: inline-block;
  width: .6vw;
  height: 0;
  background: #f9f9f9;
  transition: .25s;
  position: fixed;
  left: 0;
  position: absolute;
  border-radius: 0 .25vw .25vw 0;
  z-index: 1;
  transform: translateY(-.2vw)
}

#sidenav-link-with-hover-4:hover::after {
  height: 2.75vw;
  transition: .5s;
}

#sidenav-link-with-hover-5::after {
  content: '';
  display: inline-block;
  width: .6vw;
  height: 0;
  background: #f9f9f9;
  transition: .25s;
  position: fixed;
  left: 0;
  position: absolute;
  border-radius: 0 .25vw .25vw 0;
  z-index: 1;
  transform: translateY(-.2vw)
}

#sidenav-link-with-hover-5:hover::after {
  height: 2.75vw;
  transition: .5s;
}

#openNav {
  font-size: 1.6vw;
  color: #f9f9f9;
  cursor: pointer;
  margin-right: .75vw;
}

/*Button CSS---------------------------------------------------------------------------->*/
#button-1{
  transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
  position: relative;
  height: 3vw;
  width: 12.5vw;
  font-weight: 500;
  font-size: 1.25vw;
  letter-spacing: .1vw;
  color: #000;
  border: .1vw #000 solid;
  border-radius: .5vw;
  text-transform: uppercase;
  overflow:hidden;
  background: none;
  z-index: 0;
  cursor: pointer;
}

#button-1:before{
  opacity:0;
  transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

#button-1:after {
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  top: 100%;
  z-index: -1;
  transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}

#button-1:hover{
  color:#f9f9f9;
  border: 0vw #000 solid;
}

#button-1:hover:after {
  top: 0;
}
