#parallax-1 { 
  height: 100%; 
  transform: scale(1);
  overflow: hidden;
  cursor: default;
}

#parallax-1-text {
  color: #f9f9f9;
  background-color: rgba(0,0,0, 0.75);
  font-size: 5vw;
  font-family: Raleway, serif;
  font-weight: 500;
  border: 0vw solid #f9f9f9;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  padding: 1.25vw;
  text-align: center;
  z-index: 1;
}

#parallax-1-body-text {
  margin-top: .5vw;
  font-size: 2.5vw;
  font-family: Raleway, serif;
  font-weight: 500;
}

#parallax-1-background-image {
  background-image: url("https://farm8.staticflickr.com/4909/45614919925_0584ff81ee_b.jpg");
  background-color: #000;
  transform: scale(1.03);
  filter: blur(.2vw);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery {
  text-align: center;
  margin-top: .5vw;
  margin-bottom: .5vw;
}

#gallery img {
  transition: all 1s ease;
  margin: .5vw;
  width: 15vw;
  height: 10vw;
}

#gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
